POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

MAIL_USERNAME=csbse249
MAIL_PASSWORD=bbavrpgmihblluqd
MAIL_FROM=csbse249@yandex.ru
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=587
MAIL_STARTTLS=false
MAIL_SSL_TLS=false

SECRET_JWT_KEY=6cTcjscxMGFtSL3099ju7An01vOs2ycxGvRlIssV

PDF_API_TOKEN=aB3x9ZqW7eR4tY8uI1oVladikP5lK6jH2gF0dS
PDF_API_HOST=http://0.0.0.0:8001