POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres

MAIL_USERNAME=csbse249
MAIL_PASSWORD=bbavrpgmihblluqd
MAIL_FROM=csbse249@yandex.ru
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=587
MAIL_STARTTLS=false
MAIL_SSL_TLS=false

SECRET_JWT_KEY=6cTcjscxMGFtSL3099ju7An01vOs2ycxGvRlIssV