.header {
    background-color: black;
    padding: 15px 0;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigation-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  /* Стили для заголовков */
  .navigation-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; /* Плавное изменение цвета текста */
  }
  
  /* Эффект при наведении */
  .navigation-item a:hover {
    color: orange; /* Оранжевый цвет при наведении */
  }
  