.movie-page {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
  }
  
  .movie-content {
    display: flex;
    gap: 20px;
  }
  
  .movie-poster img {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
  }
  
  .movie-info {
    flex: 1;
  }
  
  .movie-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-info p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .movie-info p strong {
    color: black;
  }
  
  .description {
    margin-top: 15px;
    font-style: italic;
    color: gray;
  }
  
  .movie-schedule {
    margin-top: 30px;
    text-align: center;
  }
  
  .movie-schedule h2 {
    margin-bottom: 10px;
  }
  
  .movie-schedule select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .movie-schedule button {
    padding: 10px 20px;
    font-size: 16px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .movie-schedule button:hover {
    background: orange;
  }
  