.registration {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
  }
  .registration:hover {
    text-decoration: underline;
    color: red;
  }

  .reg-page h2{
    text-align: center;
    margin-top: 20px;
  }
  .reg-form{
    text-align: center; 
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin: 0 auto;
  }

  .reg-form input{
    height: 30px;
    width: 100%;
    font-size: medium;
    font-family: Verdana;
    text-align: center;
  }

  .reg-form button{
    height: 30px auto;
    font-size: medium;
  }